.header-color{
background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-grid{
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
}

  .ID-img{
    height: 250px;
    padding-top: 5em;
    
  }

  .banner-text{
    background-color: black;
    opacity: .6;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    text-align: center;
  }

  .banner-text h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
  }

  .banner-text hr{
    border-top: 5px dotted white;
    width: 40%;
    margin: auto;
  }

  .banner-text a{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

  }

  .banner-text i{
   color: white;
   font-size: 5em;
  }

  .projects-grid{
    text-align: center;
    display: flex;
  }

  .projects-card{
    width: 320px;
    height: 320px;
    margin: 20px 20px 20px 20px ;
    padding: 10px 10px 5px 5px ;
  }